@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v15-latin-500italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v15-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v15-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
}

button {
  font-family: "Livvic", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 24px;
}

.site-header {
  padding: 73px 0 129px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__left-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 80px;
}

.header__logo-link {
  display: inline-block;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header_link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.header__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 10px 32px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  background-color: transparent;
  transition: all 0.3s;
}
.header__btn:hover {
  color: #012F34;
  background-color: #FFFFFF;
  border-color: #012F34;
}

.header__menu-icon {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 775px) {
  .site-header {
    padding: 64px 0 112px;
  }
  .header__logo-link > img {
    width: 127px;
    height: 32px;
  }
  .header__left-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
  }
}
@media (max-width: 602px) {
  .site-header {
    padding: 48px 0 80px;
  }
  .header__navbar, .header__btn {
    display: none;
  }
  .header__menu-icon {
    display: block;
  }
}
.hero-section {
  background-image: url("../../images/svg/hero-bg-1.svg");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: calc(50% - 718px) top;
}

.hero {
  padding-bottom: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-image: url(../../images/svg/hero-bg-2.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero__title-wrapper {
  width: 526px;
}

.hero__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.hero__title--change-color {
  color: #F67E7E !important;
}

.hero__text-wrapper {
  width: 445px;
}

.hero__text-line {
  margin-bottom: 79px;
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
}

.hero__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

@media (max-width: 664px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding-bottom: 256px;
    background-position: center bottom;
  }
  .hero__title-wrapper {
    width: 100%;
    margin-bottom: 24px;
  }
  .hero__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .hero_text-wrapper {
    width: 100%;
  }
  .hero__text-line {
    display: none;
  }
  .hero__text {
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
}
@media (max-width: 496px) {
  .hero {
    padding-bottom: 197px;
    background-size: contain;
  }
  .hero__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .hero__title-wrapper {
    margin-bottom: 18px;
  }
}
.build-section {
  background-color: #012F34;
  padding: 140px 0;
  background-image: url(../../images/svg/buid-bg-1.svg);
  background-repeat: no-repeat;
  background-size: 100px 244px;
  background-position: right bottom;
}

.build__text-line {
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
}

.build__content-wrapper {
  padding-top: 54px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 125px;
}

.build__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.build__list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 32px;
  flex-direction: column;
}

.build__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 23px;
}

.build__wrapper {
  width: 445px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 16px;
  flex-direction: column;
}

.build__wrapper-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #F67E7E;
}

.build__wrapper-text {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.results-section {
  background-color: #004047;
  padding: 140px 0;
  background-image: url("../../images/svg/result-bg-1.svg"), url("../../images/svg/result-bg-2.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: left top, right bottom;
}

.results__wrapper {
  width: 932px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 56px;
  flex-direction: column;
  margin: 0 auto;
}

.results__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-align: center;
}

.results__title--change-color {
  color: #79C8C7;
}

.results__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.results__item {
  width: 350px;
  text-align: center;
  background-image: url("../../images/svg/result-bg-3.svg");
  background-repeat: no-repeat;
  background-size: 67px 56px;
  background-position: top center;
  padding-top: 36px;
}

.results__item__quote {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.results__person {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2px;
  flex-direction: column;
}

.results__person__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #79C8C7;
}

.results__person__role {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.contact-section {
  padding: 76px 0;
  background-color: #F67E7E;
  background-image: url("../../images/svg/contact-bg.svg");
  background-repeat: no-repeat;
  background-size: 200px 142px;
  background-position: bottom left;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 260px;
}

.contact__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #012F34;
}

.contact__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #012F34;
  padding: 10px 32px;
  border: 2px solid #012F34;
  border-radius: 24px;
  background-color: transparent;
  transition: all 0.3s;
}
.contact__btn:hover {
  color: #FFFFFF;
  background-color: #012F34;
}/*# sourceMappingURL=main.css.map */