@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v15-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v15-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
}

button {
  font-family: "Livvic", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 24px;
}

.site-header {
  padding: 73px 0 129px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__left-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 80px;
}

.header__logo-link {
  display: inline-block;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header_link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.header__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 10px 32px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  background-color: transparent;
  transition: all 0.3s;
}
.header__btn:hover {
  color: #012F34;
  background-color: #FFFFFF;
  border: #012F34;
}

.header__menu-icon {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 775px) {
  .site-header {
    padding: 64px 0 112px;
  }
  .header__logo-link > img {
    width: 127px;
    height: 32px;
  }
  .header__left-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
  }
}
@media (max-width: 602px) {
  .site-header {
    padding: 48px 0 80px;
  }
  .header__navbar, .header__btn {
    display: none;
  }
  .header__menu-icon {
    display: block;
  }
}
.hero-section {
  background-image: url("../../images/svg/hero-bg-1.svg");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: calc(50% - 718px) top;
}

.hero {
  padding-bottom: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-image: url(../../images/svg/hero-bg-2.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero__title-wrapper {
  width: 526px;
}

.hero__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.hero__title--change-color {
  color: #F67E7E !important;
}

.hero_text-wrapper {
  width: 445px;
}

.hero__text-line {
  margin-bottom: 79px;
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
}

.hero__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

@media (max-width: 664px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding-bottom: 256px;
    background-position: center bottom;
  }
  .hero__title-wrapper {
    width: 100%;
    margin-bottom: 24px;
  }
  .hero__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .hero_text-wrapper {
    width: 100%;
  }
  .hero__text-line {
    display: none;
  }
  .hero__text {
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
}
@media (max-width: 496px) {
  .hero {
    padding-bottom: 197px;
    background-size: contain;
  }
  .hero__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .hero__title-wrapper {
    margin-bottom: 18px;
  }
}/*# sourceMappingURL=main.css.map */