.results-section {
    background-color: $clr-bg-results;
    padding: 140px 0;
    background-image: url("../../images/svg/result-bg-1.svg"), url("../../images/svg/result-bg-2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 147px 100px, 200px 100px;
    background-position: left top, right bottom;
}

.results__wrapper {
    width: 932px;
    @include Display($items:center, $justify:start, $gap:56px);
    flex-direction: column;
    margin: 0 auto;
}
.results__title {
    @include TextStyle($FW:700, $FS:48px, $LH:48px, $LS:0px, $CLR:$clr-white);
    text-align: center;
}
.results__title--change-color {
    color: $clr-lightblue;
}
.results__list {
    @include Display($items:center, $justify:start, $gap:30px);
}
.results__item {
    width: 350px;
    text-align: center;
    background-image: url("../../images/svg/result-bg-3.svg");
    background-repeat: no-repeat;
    background-size: 67px 56px;
    background-position: top center;
    padding-top: 36px;
}
.results__item__quote {
    @include TextStyle($FW:600, $FS:15px, $LH:25px, $LS:0px, $CLR:$clr-white);
    margin-bottom: 24px;
}
.results__person {
    @include Display($items:center, $justify:start, $gap:2px);
    flex-direction: column;
}
.results__person__name {
    @include TextStyle($FW:700, $FS:18px, $LH:28px, $LS:0px, $CLR:$clr-lightblue);
}
.results__person__role {
    @include TextStyle($FW:500, $FS:13px, $LH:18px, $LS:0px, $CLR:$clr-white);
    margin-bottom: 32px;
}
